@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

body {
  font-family: 'Mulish', sans-serif;
}

// Navbar

.navbar {
  background: #043A7C;
  
  @media (min-width: 992px) {
    width: 17rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 800;
}

#lewis-image {
  width: 100%;
  border-radius: 100%;
}

.lewis-image-wrapper {
  background: #3E7ECD;
  border-radius: 100%;
  width: 80%;
  margin: auto;
}
