.social-icons {
  a {
    display: inline-flex;
    align-items: center;
    color: white;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%; 
    font-size: 1.5rem;
    margin-right: 1.5rem;

    &:hover {
      background: $dark-blue!important;
    }
  }
}

.language-tools-icons {
  font-size: 3rem;

  svg {
    margin-right: 1.5rem;
  }
}

.mongodb-svg,
.jquery-svg {
  width: 110px;
  height: 30px;
}

.vscode-svg {
  width: 55px;
  height: 40px;
}